!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/jasmine.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/underscore.min.js')
    script(type='text/javascript', src='/javascripts/jasmine.js')
    script(type='text/javascript', src='/javascripts/jasmine-html.js')
    script(type='text/javascript', src='/javascripts/jasmine-vcr.js')
    script(type='text/javascript', src='/javascripts/specs.js')
  body!= body
